<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{header}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle: {{reciverMsgChild1}}</h6>
    <button class="btn btn-primary my-2" (click)="sendDataToParent()">Send To Parent Counter Value</button>
    <button class="btn btn-primary" (click)="sendDataToChild2viaParent()">Send To Child 2 Counter Value</button>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>